@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #87CEEB;
        height: 100vh;
    }

    .container {
        height :100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* Form box */
    .form-box {
        background: #F7F7F7; /* transparent white */
        padding: 100px;
        border-radius: 15px;
        width: 450px;
        box-shadow: 0 4px 4px rgba(0,0,0,5);
        z-index: 1;
        background-color: lightpink
    }



    h1 {
        color: orchid;
        text-align: center;
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    button {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
        border: none;
        border-radius: 6px;
        background-color: blue;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

        button:hover {
            background-color: darkblue;
        }

    p {
        text-align: center;
        margin-top: 15px;
    }

    a {
        color: #4a90e2;
        text-decoration: none;
    }
</style>


<div class="container">
    <div class="form-box">


        <h1 style="color: lightseagreen">Login or create a new account</h1>

        <form method="post" action="/Home/Dashboard">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" req />
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div>
                <select>
                    <option>Please provide a role</option>
                    <option>Lecturer</option>
                    <option>Program codinator </option>
                    <option>Program manager</option>
                </select>

            </div>
            <button type="submit">Login</button>
        </form>

        <p>
            Don’t have an account?
            <a href="@Url.Action("Register", "Home")">Register</a>
        </p>
    </div>
</div>




